/* HTML Tags */
h1 {
  color: black;
  padding-bottom: 2.5rem;
  font-family: "Lato", sans-serif;
}

p {
  color: black;
  font-family: "Roboto", sans-serif;
}


/* Landing section */

.navbar-custom {
  background-color: #263238;
}

.navbar-brand {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  color: #D5D8DC;
}

.nav-item {
  padding: 0 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.title-row {
  padding: 5%;
  margin-top: 50px;
}

.presentation-text{
  text-align: center;
}

.profile-pic {
  border-radius: 100%;
  width: 70%;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-icons {
  color: #9e9d24;
}

#title-landing {
  background-color: #263238;
}

#title-landing h1, p {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.fa-ul li {
  padding-left: 5%;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: left;
}




/* Experience section*/
#my-experience {
  padding: 3%;
}

#my-experience h1, h2 {
  text-align: center;
}

#my-experience h1, h2 {
  font-family: "Lato", sans-serif;
}

#my-experience p, h5{
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#my-experience .col-lg-12 {
  padding: 3%;
}

#my-experience .btn-default{
  border-style: solid;
  border-color: grey;
  border-width: thin;
  background-color: #263238;
  color: white;
  font-family: "Roboto", sans-serif;
}

#my-experience .btn-default:hover{
  background-color: #9e9d24;
  color: black;
}

.tab-pane.fade {
  padding-top: 3%;
}

.tab-content {
  margin-top: 1.5rem;
  border-top: 4px solid #9e9d24;
}

.nav.nav-tabs {
  border-color: white;
}

.testimonial-course-img {
  width: 65%;
  border-radius: 25%;
}

.testimonial-pictures {
  border-radius: 100%;
  margin: 25px;
  width: 15%;
}

.carousel-item {
  text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 66px;
  color: #9e9d24;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 66px;
  color: #9e9d24;
}

#myTabExperience a:focus {
  color: black;
  background-color: #9e9d24;
}

/* Latest posts section*/
#recent-posts {
  padding: 5%;
}

.blogs-row{
  padding: 2%;
}

.card{
  padding: 3%;
margin-bottom: 2rem;
}

/* Contact me section*/
#contact-me {
  padding: 3%;
  background-color: #9e9d24;
}

#contact-me a{
  color: #263238;
}

#contact-me h3 {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: black;

}


.contact-cards {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.media-icon {
  margin-bottom: 1rem;
}

.media-icon:hover {
  color: white;
}
